<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.geek.mapper.ActivityMapper">

    <resultMap id="BaseResultMap" type="com.feng.geek.model.domain.Activity">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="userId" column="userId" />
            <result property="startTime" column="startTime" />
            <result property="poistion" column="poistion" />
            <result property="createTime" column="createTime" />
            <result property="takeNum" column="takeNum" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,userId,startTime,poistion,
        createTime,takeNum,isDelete
    </sql>
</mapper>
